.aboutContainer {
    padding: 20px 0;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media screen and (max-width: 580px) {
        padding: 0 20px;
    }
}
.aboutContent {
    
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 580px) {
        flex-direction: column;
    }
    > img {
        height: 250px;
        width: 250px;
    }
    > .aboutText {
        line-height: 1.3;
    }
}
