:root {
    --dark-slate: #495670;
    --slate: #8892b0;
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text',
        -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: '“' '”' '‘' '’';
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

input[type='search'] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

::selection {
    background-color: grey;
    color: white;
}

::-moz-selection {
    background-color: grey;
    color: white;
}

html {
    background: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #111111;
    color: white;
    /* overflow: hidden; */
}

header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    @media (min-width: 580px) {
        height: 115px;
    }
    z-index: 10;
    background-image: url(/header.webp);
    background-position: center top;
    background-size: auto 200px;
    background-repeat: repeat-x;
    padding: 0 20px;

    > .inner {
        height: 70px;
        max-width: 1060px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }
    .logo {
        display: block;
        width: 76px;
        height: 90px;
        position: absolute;
        top: 15px;
        left: 0;
        text-align: center;
        > svg path {
            fill: white;
        }
        > img {
            width: 45px;
            margin-top: 10px;
        }
    }
}

header nav {
    &:not(.show) {
        @media screen and (max-width: 800px) {
            display: none;
        }
    }
    &.show {
        width: 100%;
        top: 80px;
        background: rgb(0 0 0 / 60%);
        position: absolute;
        padding: 15px;
        a {
            display: block;
            text-align: center;
            color: #ffffff;
        }
    }
    // display: none;
    a {
        font-family: 'Arial', serif;
        font-size: 12px;
        color: #8c8c8e;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
        margin: 0 18px;
        &.active,
        &:hover {
            color: white;
        }
    }
}
@media screen and (min-width: 800px) {
    header nav {
        display: block;
    }
}
header .burger {
    display: block;
    position: relative;
    top: -6px;
    padding-left: 30px;
}
header .burger {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 2px;
    }
    &.close:before {
        content: 'X';
    }
    &.show:before {
        background: white;
        box-shadow: 0 12px 0 0 white, 0 6px 0 0 white;
    }
}
@media screen and (min-width: 800px) {
    header .burger {
        display: none;
    }
}

main {
    // position: relative;
    // width: 100%;
    // // height: 100vh;
}
@media screen and (max-width: 800px) {
    #about,
    #skill {
        padding-bottom: 40px;
    }
}

h2 {
    margin-top: 0;
    padding-top: 10px;
    color: #c8f5ea;
    line-height: 0.9;
    font-size: clamp(20px, 4vw, 40px);
}

#about,
#skills,
#experiece,
#contact,
footer {
    padding: auto 40px;
    padding-top: 60px;
    position: relative;
    width: 100%;
    background: linear-gradient(178deg, rgb(58 58 58 / 22%), rgb(0 0 0 / 52%));
    background-attachment: fixed;
}
#galaxy-banner {
    height: 100vh;
    @media screen and (max-width: 580px) {
        // max-height: 50vh;
    }
}


/**
StarWars 
*/

#target{
    position:absolute;
    top:-3500px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    font-size:30px;
    text-align:center;
    font-family:sans-serif;
}
#target>div{
    padding-top:3500px;
    animation:autoscroll 40s linear;
}
#target>div:not(:active) {
    padding-top:3500px;
	animation: autoscroll 40s ease-in-out;
}
html:after{
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
    pointer-events:none;
}

// body{
    
   
// }
// html{
//     color:yellow;
//     background:black;
// }
@keyframes autoscroll{
    to{
        margin-top:-2000px;
    } 
}